:root{
    --inner-carousel-width: 750px;
    --slider-button-size: 44px;
}

button.btn.btn-primary{
    background-color: #700f0d; 
}

#carouselExampleIndicators{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
 }


.carousel-control-prev, .carousel-control-next{
    background-color: #0699A6;
    width: var(--slider-button-size);
    height: var(--slider-button-size);
    border-radius: 100%;
    border: 1px solid red;
    margin: auto 0;
}


#carouselExampleIndicators .carousel-indicators{
    border: 1px solid green;
}

.carousel-indicators .indicator{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #ABABAB;
}

.carousel-indicators .active{
    background-color: #0699A6;
}


#carousel-testing .unique{
    background-color: #700f0d;  
    width: 50%; 
}

/* SLIDE STYLE */

.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 600px;
    max-width: 1060px;
    width: fit-content;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    background-color: white;
    border-radius: 40px;
    padding: 41px 40px;
    border: 1px solid black;
}

#carouselExampleIndicators{ 
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: auto 15px;
 }

  .carousel-item .example-container{
    display: inline-flex;
    flex-flow: wrap row;
    justify-content: space-between;
    gap: 50px;
  }

  .left, .right{
    flex-basis: 300px;
    flex-grow: 1;
  }

  .carousel-img{
    width: 100%;
    min-width: 300px;
    height: auto;
    aspect-ratio: 16 / 9;
  }